/* body,h1,h2,h3,h4,h5,h6,ul,li {
    margin: 0;
} */

header {
    max-width: 790px;
    height: 300px;
    margin: 0 auto;
    background-image: url("../images/Cafe.jpg");
}

main, footer{
    max-width: 790px;
    margin:  0 auto;
}

h1 {
    color: white;
}

h2{
    color: black;
}

.learned {
    color:black;
}